body{
    font-family: Myriad Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

p.font {
    font-size: 13px;
}

/* h3.cardfont {
    padding: 50px;
    margin: 50px;
} */

a:link, a:visited {
    text-decoration: none;
    color: blue;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.main-content {
    padding: 10px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.header-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-self: flex-start;
    width: 80%;
}

.footer-flex {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
    font-size: 8px;
    width: 80%;
}
.items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.page-flex {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
}

.projectCard {
    width: 300px;
    height: 400px;
    background-color: tan;
    border-radius: 10px;
    border: 2px solid  black;
    margin: 10px;
    padding: 5px;
}

.padding {
    padding: 0 .25rem 0 .25rem;
    text-align: center;
}

.projects {
    display: flex;
    flex-flow: row nowrap;
}

.project-img {
    border: .5px;
    max-width: 85%;
    max-height: 85%;
}

.footer-img {
    display: flex;
    max-height: 16px;
    padding: 8px;
}

image-box {
    display: flex;
    max-height: 16px;
    position: absolute;
    padding: 8px;
}

/* These are for the logos in the footer */
.grey {
    filter: grayscale(1);
}

.grey:hover {
    opacity: 0;
    color: white;
}

.color {
    position: absolute;
    opacity: 0;
}

.color:hover {
    opacity: 1;
}
